
/* General Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

/*** Header ***/

/* Nav bar */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-nav-4 > .row{
    align-items: center;
}

nav li{
    padding: 20px;
}

nav a{
    color: black;
    margin: 17px 19px 17px 19px;
}

.action{
    text-align: center;
    padding: 8px 14px;
    color: white;
    background-color: rgb(17, 102, 230);
}

/*** Main ***/

/*** Hero ***/

/* Dimensioni container hero */

.container-hero{
    max-width: 1256px;
    margin: 0 auto;
}

.hero{
    background-color: #B4D0E7;
}

/* Flex delle righe hero  */

.container-hero > .row-hero{
    display: flex;
    justify-content: center;
}

/* Dimensioni colonne hero*/

.col-hero-1{
    flex-basis: 100%;
    padding-bottom: 57px;
}

.col-hero-2{
    flex-basis: calc(100%*(4/12));
    position: relative;
}

.col-hero-3{
    flex-basis: calc(100%*(8/12));
}

/* dimesioni top e bottom del paragrafo centrale */

.col-hero-2 > div{
    margin-top: 36px;
    margin-bottom: 36px;
}

/* Regole css titolo hero */

h1{
    text-align: center;
    font-size: 50px;
}

/* Regole css freccia */

.arrow{
    font-size: 45px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

/*** Card Section ***/

/*** Card 1-2-3 ***/

/* Dimensioni container sezione card */

.container-card{
    max-width: 1045px;
    margin: 0 auto;
    margin-top: 79px;
}

/* Regole flex di tutte le righe sezione card */

.row-card-title,.row-card-button{
    display: flex;
    flex-basis: 100%;
}

.row-card,.row-card-bottom{
    display: flex;
}

/* Dimensioni colonne sezione card */

.col-card{
    flex-basis: calc(100%*(4/12));
    border-left: solid 2px gray;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
}

.col-button{
    flex-basis: calc(100%*(4/12));
}

/* Margine basso del titolo sezione card e spazio tra bottoni*/

.title-card,.col-button{
    margin-bottom: 57px;
}

.radio{
    margin-left: 50px;
}

/* Margini destro e sinistro card centrale */

.col-card:nth-child(2){
    margin-left: 25px;
    margin-right: 25px;
}

/* Font size titolo pachetto */

.title-pack{
    font-size: 23px;
}

.row-card .icon{
    text-align: center;
    padding: 13px 120px 13px 120px;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}

/* Font size prezzo e titolo sezione card*/

.price{
    font-size: 17px;
}

h2{
    font-size: 40px;
}

/* Colore spunta */

.check{
    color: blue;
}

/* Margine interno ai paragrafi */

.container-card li{
    margin: 38px;
}

/* Distanza tra varie sezioni della card */

.space-1,.space-2,.space-3,.space-4{
    padding: 20px 26px 25px 26px;
}

.space-4{
    padding-bottom: 60px;
}

/* Regole css decoration link */

.link{
    color: blue;
    text-decoration: underline;
}

/*** Card numero 4 / due righe,tre colonne***/

/* Dimensioni colonne card4 */

.col-button-bottom{
    padding: 39px 26px 39px 26px;
    flex-basis: calc(100%*(4/12));
}

.col-bottom{
    flex-basis: calc(100%*(8/12));
}

/* Riga titolo card 4 */

.row-card-bottom-title{
    text-align: center;
    padding: 13px 120px 13px 120px;
    margin-top: 50px;
    border-top: solid 2px gray;
    border-left: solid 2px gray;
    border-right: solid 2px gray;
}

/* Padding bottone in card 4 */

.col-button-bottom .action{
    padding: 13px 25px 13px 25px;
}

/* Bordi e padding per titolo card 4 */

.row-card-bottom{
    border: solid 2px gray;
}

.col-bottom h3{
    padding: 13px 120px 13px 120px;
    border-bottom: solid 2px gray;
    text-align: center;
}

/* Section 2 */

.container-section-2{
    max-width: 1045px;
    margin: 0 auto;
}

.container-section-2{
    margin-top: 150px;
    margin-bottom: 150px;
}

.row-section-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.col-section-1{
    flex-basis: calc(100%*(5/12))
}

.col-section-2{
    flex-basis: calc(100%*(7/12));
}

.col-section-1 h3{
    margin-bottom: 25px;
    font-size: 30px;
}

.col-section-1 div{
    padding: 55px 55px 130px 55px;
}

.col-section-1 p:last-child{
    border: solid 2px black;
    padding: 13px 16px 13px 16px;
    margin-top: 35px;
    margin-right: 230px;
}

/* Section 3 */

.container-section-3{
    max-width: 1045px;
    margin: 0 auto;
}

.row-section-3{
    display: flex;
}

.row-section-title{
    display: flex;
}

.container-section-3:first-child{
    flex-basis: 100%;
}

.col-section-3-1{
    flex-basis: calc(100%*(4/12))
}

.col-section-3-1{
    margin-top: 80px;
    margin-right: 50px;
}

.col-section-3-1 li:nth-child(2){
    margin: 30px 0px 45px 0px;
    font-size: 30px;
}

.col-section-title h3{
    font-size: 40px;
}

/* section-4 */

.container-section-4{
    max-width: 1045px;
    margin: 0 auto;
}

.container-section-4{
    margin-top: 200px;
    margin-bottom: 150px;
}

.row-section-4{
    display: flex;
}

.col-section-4{
    flex-basis: 100%
}

.col-section-4 h3{
    font-size: 40px;
    margin-bottom: 75px;
}

/* Section partner commerciali */

.row-partner{
    display: flex;
    flex-wrap: wrap;
}

.col-partner{
    flex-basis: calc(100%*(4/12));
}

.container-partner img{
    width: 400px;
}