
/* General Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

/*** Header ***/

/* Nav bar */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-nav-4 > .row{
    align-items: center;
}

nav li{
    padding: 20px;
}

li > a{
    color: black;
    margin: 17px 19px 17px 19px;
}

.action{
    text-align: center;
    padding: 8px 14px;
    color: white;
    background-color: rgb(17, 102, 230);
}

/*** Main ***/

/* Hero */

.hero > .row-hero{
    display: flex;
    justify-content: center;
}

.hero{
    padding: 97px 370px 0px 370px;
    background-color: #B4D0E7;
}

h1{
    text-align: center;
    font-size: 50px;
}

.col-hero-1{
    flex-basis: 100%;
    padding-bottom: 57px;
}

.col-hero-2{
    flex-basis: calc(100%*(4/12));
    position: relative;
}

.col-hero-3{
    flex-basis: calc(100%*(8/12));
}

.col-hero-2 > div{
    margin-top: 36px;
    margin-bottom: 36px;
}

.arrow{
    font-size: 45px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

/* Card Section */

.container-card{
    padding: 80px 380px 65px 380px;
    margin-top: 79px;
}

.title-card,.col-button{
    margin-bottom: 57px;
}

.row-card-title{
    display: flex;
}

.row-card-title,.row-card-button{
    display: flex;
    flex-basis: 100%;
}

.row-card,.row-card-bottom{
    display: flex;
}

.col-card{
    flex-basis: calc(100%(4/12));
    border-left: solid 2px gray;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
}

.col-bottom{
    flex-basis: calc(100%*(8/12));
}

.col-button{
    flex-basis: calc(100%*(4/12));
}

.col-card:nth-child(2){
    margin-left: 25px;
    margin-right: 25px;
}

.pack{
    font-size: 23px;
}

.price{
    font-size: 17px;
}

.check{
    color: blue;
}

.icon{
    text-align: center;
    padding: 13px 120px 13px 120px;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}

h2{
    font-size: 40px;
}

.container-card li{
    margin: 38px;
}

.space-1,.space-2,.space-3,.space-4{
    padding: 39px 26px 51px 26px;
}

.space-4{
    padding-bottom: 60px;
}

.link{
    color: blue;
    text-decoration: underline;
}

.space-3:last-child{
    border-bottom: 2px solid black;
}

.row-card-bottom{
    border: solid 2px gray;
    margin-top: 50px;
}

/* Section 2 */

.container-section-2{
    padding: 92px 370px 92px 370px;
}

.row-section-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.col-section-1{
    flex-basis: calc(100%*(5/12))
}

.col-section-2{
    flex-basis: calc(100%*(7/12));
}

.col-section-1 h3{
    margin-bottom: 25px;
    font-size: 30px;
}

.col-section-1 div{
    padding: 55px 55px 130px 55px;
}

.col-section-1 p:last-child{
    border: solid 2px black;
    padding: 13px 16px 13px 16px;
    margin-top: 35px;
    margin-right: 230px;
}