
/* General Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

/*** Header ***/

/* Nav bar */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > .row{
    padding: 20px;
}

.col-nav-4 > .row{
    align-items: center;
}

li > a{
    color: black;
    margin: 17px 19px 17px 19px;
}

.action{
    padding: 8px 14px;
    color: white;
    background-color: rgb(17, 102, 230);
}

/*** Main ***/

/* Hero */

.hero > .row-hero{
    display: flex;
    justify-content: center;
}

.hero{
    padding: 97px 370px 0px 370px;
    background-color: #B4D0E7;
}

h1{
    text-align: center;
    font-size: 50px;
}

.col-hero-1{
    flex-basis: 100%;
    padding-bottom: 57px;
}

.col-hero-2{
    flex-basis: calc(100%(4/12));
    position: relative;
}

.col-hero-3{
    flex-basis: calc(100%(8/12));
}

.col-hero-2 > div{
    margin-top: 36px;
    margin-bottom: 36px;
}

.arrow{
    font-size: 45px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

/* Card Section */

